{% extends 'admin/AdminBase.html.twig' %}
{% block body %}
    <h1> {{ title }}</h1>
    <a href="{{ path('admin_user_create') }}">добавить пользователя</a>
<h2>список пользователей:</h2>
    <ul>
        {% for user in users %}
    <li>
    {{ user.email }}, {{ user.roles | json_encode }}
    </li>
        {% endfor %}
</ul>
{% endblock %}