{% extends 'admin/AdminBase.html.twig' %}
{% block body %}
    <a href="{{ path('app_logout') }}">выход</a>
    <h1> {{ title }}</h1>
    <a href="{{ path("admin_user") }}">пользователи</a>

{% endblock %}